.hide {
	display: none;
}

body {

}

#canvas {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

#canvasContainer {
	width: 100% !important;
	height: 100% !important;
	top: 0px !important;
	background-color: white !important;
	background-image: none !important;
}

*[styleid] {
	display: none !important;


document {
	width: 100% !important;
}